
Library/ArtifactDB
Library/Artifacts/00/002d2c77e42c986921218570bd568c09
Library/Artifacts/08/0815b3924bdbfda6bc0be766dd25ad6f
Library/Artifacts/08/08bcb5b58ec720ad46bdc1b76b3aebb3
Library/Artifacts/19/19effff173f4e71542207cb7307a5975
Library/Artifacts/20/2073d447ec899e04ffdafc5ce52018ac
Library/Artifacts/21/21dc225f05cd7cbc9a59325a54b3bd53
Library/Artifacts/25/251ef9ea8d5c889494b5815a49557102
Library/Artifacts/26/269f92a390c35426909454df82dc2a98
Library/Artifacts/2a/2aba8a3edd13d78b4abcb31d1353f1f9
Library/Artifacts/2d/2de3ef9eda3e994737397854c08c85de
Library/Artifacts/47/4769776251a60d45ba63f440e9409107
Library/Artifacts/51/51f9541d3b4be681812ff2b0477dcc33
Library/Artifacts/59/59790d967b157d1153707789b45b179e
Library/Artifacts/5a/5a5b29c3734ac8b99fe8311b3d183a39
Library/Artifacts/5b/5b26994a6d5cdd9a8ea77c9495a6621b
Library/Artifacts/5d/5db2dd38519777e8bb416759a8f120e2
Library/Artifacts/5f/5f395fb074d389b40e11b9476cacfba4
Library/Artifacts/63/63e4f6749b41e7e086eeb8942658cf87
Library/Artifacts/64/6462e054b8f5b43ab8ab44ac1af8d795
Library/Artifacts/6e/6e43a429719026a8098716532e4656fe
Library/Artifacts/72/7260decdc8d6b84c07d043f9a320fd0d
Library/Artifacts/72/72f38dc552012992b6c7348b99c71778
Library/Artifacts/74/7418430f78bf6befcb50d91c1a87fc0c
Library/Artifacts/77/779a4057caeac2c3097259a9b95d51a0
Library/Artifacts/7a/7a5d0b58210957feeca0e13b6cbdf966
Library/Artifacts/7a/7abbab51c3f7e4e5fbdb7cc3af66bc5a
Library/Artifacts/7c/7c18639a2c0317e1ba66fa8f23f3d87b
Library/Artifacts/84/842c61eedde4b45271b14874cff51307
Library/Artifacts/84/84731f8bc9a1c61642ec6b18c836c5aa
Library/Artifacts/84/84f9559680790de5d987a1d3fb2dc43c
Library/Artifacts/8a/8ab4f1dd684337c247b879ac43858aa9
Library/Artifacts/8a/8af461f6b15c4aa051d9f4aac78997eb
Library/Artifacts/8b/8bde292b6174e9fd7e84ba8a01f45f26
Library/Artifacts/8e/8ec32d70e22733048343ed58dfd73e29
Library/Artifacts/8e/8ef6f3b188f3b44ded1f071e16eb9d4b
Library/Artifacts/96/96ce9337cec20c468ef8aa5616ceffc6
Library/Artifacts/96/96dfeb743ec46e9c8605982c78bee994
Library/Artifacts/98/9823ea58c018fd79c85d6ffe79cbbdd4
Library/Artifacts/99/9949cd6f4d6d73208b3e89673f5f9080
Library/Artifacts/a1/a10cfc89ff6e5589045d7b8076ddf5f4
Library/Artifacts/a1/a11bbf1d48e8e172c9ec0d1d09750ca0
Library/Artifacts/a5/a539642663b2185808136f15bfc56509
Library/Artifacts/ae/ae079d41bc15e6ad44b923f3b547b6b7
Library/Artifacts/af/af8c7d87158c582d0c383006f65e5857
Library/Artifacts/b2/b20d1ce3d4c2e9a9c391a4b1bf050342
Library/Artifacts/c1/c11ad18a343806548a59705d1e22f3a3
Library/Artifacts/c2/c23582454d875a54015d47b650f07e2e
Library/Artifacts/c3/c325647d0a6a81231e8f97b29b466c5f
Library/Artifacts/c3/c34521f147c65b777fdb63265fcc8212
Library/Artifacts/c5/c533175090c459bc43d341d3b98c1e02
Library/Artifacts/ce/ce44026f12ba837486ebd5d1f5cbdc86
Library/Artifacts/cf/cf539ba185fe7e08b4666525b20f8b8b
Library/Artifacts/d1/d1ba9c43ea4768f0b0cd5c6566c527bc
Library/Artifacts/d5/d537258f5b4525b3e5791017660c9f97
Library/Artifacts/d6/d65541a2815385cf39c27caea52ab9e2
Library/Artifacts/d7/d763c26dd92753906651e85a6eb668c2
Library/Artifacts/d8/d86e0b1ddc5512602e4492cd3f6ac5e1
Library/Artifacts/dd/ddc563bb100a56a942ce9df5745d5fe3
Library/Artifacts/de/de36a82555a2c07381ff9706ef2f943e
Library/Artifacts/de/dee0e64865cd9df8fc9508abc3eaaaf5
Library/Artifacts/e4/e4e8ccc549bf4537df77e2dea25cf661
Library/Artifacts/e6/e62f9113d7883d2dd08e30476efff7ef
Library/Artifacts/e6/e635cc089b05efd939943048a5d0e826
Library/Artifacts/ed/ede6fd9f4ff94ec3bda9bf7e9318da60
Library/Artifacts/f3/f3b7f68dbb5f0371c29cc0fb2b839019
Library/Artifacts/f4/f4eb652fb6e64b49d663e55526416ad1
Library/Artifacts/f7/f764da27b9785400bf12c318397f152f
Library/Artifacts/f7/f7fe461aca9a5fb6f7f1f20b1869b16f
Library/Bee/artifacts/1900b0aEDbg.dag/Assembly-CSharp.dll
Library/Bee/artifacts/1900b0aEDbg.dag/Assembly-CSharp.pdb
Library/Bee/artifacts/1900b0aEDbg.dag/Assembly-CSharp.ref.dll
Library/Bee/backend_profiler0.traceevents
Library/Bee/tundra.digestcache
Library/Bee/tundra.log.json
Library/Bee/TundraBuildState.state
Library/Bee/TundraBuildState.state.map
Library/PackageCache/com.unity.ide.rider@3.0.26/.editorconfig
Library/PackageCache/com.unity.ide.rider@3.0.26/.signature
Library/PackageCache/com.unity.ide.rider@3.0.26/CHANGELOG.md
Library/PackageCache/com.unity.ide.rider@3.0.26/CHANGELOG.md.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/CONTRIBUTING.md
Library/PackageCache/com.unity.ide.rider@3.0.26/CONTRIBUTING.md.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Documentation~/images/preferences-rider-tab.png
Library/PackageCache/com.unity.ide.rider@3.0.26/Documentation~/images/preferences-settings-external-tools-window.png
Library/PackageCache/com.unity.ide.rider@3.0.26/Documentation~/index.md
Library/PackageCache/com.unity.ide.rider@3.0.26/Documentation~/README.md
Library/PackageCache/com.unity.ide.rider@3.0.26/Documentation~/TableOfContents.md
Library/PackageCache/com.unity.ide.rider@3.0.26/Documentation~/using-the-jetbrains-rider-editor-package.md
Library/PackageCache/com.unity.ide.rider@3.0.26/LICENSE.md
Library/PackageCache/com.unity.ide.rider@3.0.26/LICENSE.md.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/package.json
Library/PackageCache/com.unity.ide.rider@3.0.26/package.json.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/com.unity.ide.rider.asmdef
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/com.unity.ide.rider.asmdef.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/Discovery.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/Discovery.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/EditorPluginInterop.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/EditorPluginInterop.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/JetBrains.Rider.PathLocator.dll
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/JetBrains.Rider.PathLocator.dll.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/LoggingLevel.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/LoggingLevel.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/PluginSettings.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/PluginSettings.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/PostProcessors.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/PostProcessors/RiderAssetPostprocessor.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/PostProcessors/RiderAssetPostprocessor.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/ProjectGeneration.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/ProjectGeneration/AssemblyNameProvider.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/ProjectGeneration/AssemblyNameProvider.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/ProjectGeneration/GUIDProvider.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/ProjectGeneration/GUIDProvider.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/ProjectGeneration/IAssemblyNameProvider.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/ProjectGeneration/IAssemblyNameProvider.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/ProjectGeneration/IFileIO.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/ProjectGeneration/IFileIO.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/ProjectGeneration/IGenerator.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/ProjectGeneration/IGenerator.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/ProjectGeneration/IGUIDGenerator.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/ProjectGeneration/IGUIDGenerator.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/ProjectGeneration/LastWriteTracker.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/ProjectGeneration/LastWriteTracker.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/ProjectGeneration/PackageManagerTracker.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/ProjectGeneration/PackageManagerTracker.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/ProjectGeneration/ProjectGeneration.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/ProjectGeneration/ProjectGeneration.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/ProjectGeneration/ProjectGenerationFlag.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/ProjectGeneration/ProjectGenerationFlag.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/ProjectGeneration/ProjectPart.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/ProjectGeneration/ProjectPart.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/ProjectGeneration/SolutionGuidGenerator.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/ProjectGeneration/SolutionGuidGenerator.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/Properties.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/Properties/AssemblyInfo.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/Properties/AssemblyInfo.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/RiderInitializer.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/RiderInitializer.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/RiderScriptEditor.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/RiderScriptEditor.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/RiderScriptEditorData.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/RiderScriptEditorData.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/RiderScriptEditorDataPersisted.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/RiderScriptEditorDataPersisted.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/RiderStyles.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/RiderStyles.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/StartUpMethodExecutor.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/StartUpMethodExecutor.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/UnitTesting.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/UnitTesting/CallbackData.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/UnitTesting/CallbackData.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/UnitTesting/CallbackInitializer.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/UnitTesting/CallbackInitializer.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/UnitTesting/RiderTestRunner.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/UnitTesting/RiderTestRunner.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/UnitTesting/SyncTestRunCallback.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/UnitTesting/SyncTestRunCallback.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/UnitTesting/SyncTestRunEventsHandler.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/UnitTesting/SyncTestRunEventsHandler.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/UnitTesting/TestEvent.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/UnitTesting/TestEvent.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/UnitTesting/TestsCallback.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/UnitTesting/TestsCallback.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/Util.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/Util/CommandLineParser.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/Util/CommandLineParser.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/Util/LibcNativeInterop.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/Util/LibcNativeInterop.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/Util/RiderMenu.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/Util/RiderMenu.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/Util/RiderPathUtil.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/Util/RiderPathUtil.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/Util/SerializableVersion.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/Util/SerializableVersion.cs.meta
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/Util/StringUtils.cs
Library/PackageCache/com.unity.ide.rider@3.0.26/Rider/Editor/Util/StringUtils.cs.meta
Library/SceneVisibilityState.asset
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/Search/transactions.db
Library/ShaderCache/builtin/unity_builtin_extra0000/00/644fdc714c0e10627b776256afdf64dd.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/88c4faa275a0236123b14c43f2a3ea4b.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/bca47bdc20e00460bdaf0da25b17cbff.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/c9fc959c904e181523f4496153ddcb03.bin
Library/SourceAssetDB
Library/StateCache/MainStageHierarchy/95/95925bd47295fdd10ad7a962c9e41ed4.json
Library/StateCache/SceneView/77/777e54b44a41d395aa234f6964bd5dac.json
Logs/shadercompiler-UnityShaderCompiler.exe0.log
UserSettings/Layouts/CurrentMaximizeLayout.dwlt
UserSettings/Layouts/default-2021.dwlt
Library/ArtifactDB
Library/Bee/artifacts/1900b0aEDbg.dag/Assembly-CSharp.dll
Library/Bee/artifacts/1900b0aEDbg.dag/Assembly-CSharp.pdb
Library/Bee/artifacts/1900b0aEDbg.dag/Assembly-CSharp.ref.dll
Library/Bee/backend_profiler0.traceevents
Library/Bee/tundra.digestcache
Library/Bee/tundra.log.json
Library/Bee/TundraBuildState.state
Library/Bee/TundraBuildState.state.map
Library/SceneVisibilityState.asset
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/Search/transactions.db
Library/SourceAssetDB
Library/StateCache/MainStageHierarchy/95/95925bd47295fdd10ad7a962c9e41ed4.json
Logs/shadercompiler-UnityShaderCompiler.exe0.log
UserSettings/Layouts/default-2021.dwlt
